<h1>Welcome to the app.yml testing page!</h1>
<p>
  <strong>The App.emails hash:</strong><br />
  <pre><%= PP.pp App.emails, '' %></pre>
</p>

<p>
  <strong>The App.max_search_results int:</strong><br />
  <pre><%= App.max_search_results %></pre>
</p>

<p>
  <strong>The App.app_name string:</strong><br />
  <pre><%= App.app_name %></pre>
</p>
