<h1>Welcome to the app.yml testing page!</h1>
<p>
  <strong>You haven't installed the app.yml initializer yet!</strong><br />
  To do so, type this into your bash prompt and then restart your server: <pre>rails generate app_yml:install</pre>
</p>
